/* GENERAL STYLING */
:root {
    --neutral-0: #ffffff;
    --neutral-100: #e6e6e6;
    --neutral-200: #cccccc;
    --neutral-300: #b3b3b3;
    --neutral-400: #999999;
    --neutral-500: #808080; 
    --neutral-600: #666666;
    --neutral-700: #4d4d4d;
    --neutral-800: #333333;
    --neutral-840: #292929;
    --neutral-900: #1a1a1a;
    --neutral-1000: #000000;

    --primary-yellow: #ffe815; 
    --primary-orange: #e85a09; 
    --primary-pink: #e22d75; 

    --background: #0f0f0f;

    --font-primary:'Bespoke Stencil', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-secondary);
    background-color: var(--background);
    color: var(--neutral-0);
}

/* CSS RESET */
*,
::before,
::after {
	box-sizing: border-box;
}

* {
    margin: 0;
  }

h1, h2, h3, h4, h5,h6 {
    text-wrap: balance;
}

p, li, figcaption {
    text-wrap: pretty;
    max-width: 600px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
/* COMPONENT STYLING */
header {
    width: 100%;
    height: 80px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: sticky; 
    top: 0;           
    z-index: 10;      
}

main {
    width: 100%;
}

.banner-bg-graphic {
    position: absolute;
    width: 100%; 
}

.banner-content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin-top: 12em;
}

.banner-content h1 {
    font-family: var(--font-primary);
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.banner-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 2em auto 0;
}

.banner-btn-container {
    margin: 4em auto 0 auto;
    width: 600px;
    height: 82px;
    overflow: hidden;
}

.banner-btn-container button {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    width: 100%;
    height: 100%;
    background-color: var(--neutral-1000);
    color: var(--neutral-0);
    border: 2px solid var(--neutral-1000);
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: border-image 1s;
}

.banner-btn-container button:hover {
    border-image: linear-gradient(90deg, rgba(255, 235, 56, 1), rgba(255, 120, 1, 0)) 1; 
}

.banner-btn-container button {
    border-image: linear-gradient(90deg, rgba(255, 235, 56, 0), rgba(255, 120, 1, 0)) 0;
}

.banner-btn-container object {
    position: absolute;
    transform: translateY(-20%); 
    left: 24%;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.banner-btn-container:hover object {
    opacity: 1;
}

@media (max-width: 1120px) {
    .banner-content {
        max-width: 80%;
        margin-top: 6em;
    }

    .banner-btn-container {
        width: 500px;
    }
    
    .banner-btn-container object {
        left: 13%;
    }
}

@media (max-width: 640px) {
    .banner-content {
        max-width: 80%;
        margin: 4em auto 0;
    }

    .banner-content h1 {
        font-size: 4rem;
    }
    
    .banner-content p {
        font-size: 1rem;
    }
    
    .banner-btn-container {
        margin: 3em auto 0 auto;
        width: 100%;
    }
    
    .banner-btn-container button {
        font-size: 1.5rem;
    }
    
    .banner-btn-container object {
        left: -10%;
    }
}