/* GENERAL STYLING */
:root {
    --neutral-0: #ffffff;
    --neutral-100: #e6e6e6;
    --neutral-200: #cccccc;
    --neutral-300: #b3b3b3;
    --neutral-400: #999999;
    --neutral-500: #808080; 
    --neutral-600: #666666;
    --neutral-700: #4d4d4d;
    --neutral-800: #333333;
    --neutral-840: #292929;
    --neutral-900: #1a1a1a;
    --neutral-1000: #000000;

    --primary-yellow: #ffe815; 
    --primary-orange: #e85a09; 
    --primary-pink: #e22d75; 

    --background: #0f0f0f;

    --font-primary:'Bespoke Stencil', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-secondary);
    background-color: var(--background);
    color: var(--neutral-0);
}

/* CSS RESET */
*,
::before,
::after {
	box-sizing: border-box;
}

* {
    margin: 0;
  }

h1, h2, h3, h4, h5,h6 {
    text-wrap: balance;
}

p, li, figcaption {
    text-wrap: pretty;
    max-width: 600px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
/* HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: sticky; 
    top: 0;           
    z-index: 10;      
}

/* HERO SECTION */
.banner-bg-graphic {
    position: absolute;
    width: 100%; 
    z-index: -1;
}

.banner-content {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    height: 800px;
}

.banner-content h1 {
    font-family: var(--font-primary);
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.banner-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 2em 0 0;
}

.banner-content button {
    margin: 4em 0 0;
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding: 0.5em 5em;
    background-color: var(--neutral-1000);
    color: var(--neutral-0);
    cursor: pointer;
    border: none;
    transition: box-shadow 0.5s, color 0.5s;
    position: relative;
}

.banner-content button:hover {
    color: #fc97bf;
    box-shadow: 0 0 15px var(--primary-pink);
    border-radius: 10px;
}

.banner-content button:focus {
    outline: 0;
  }
  
.banner-content button:before,
.banner-content button:after {
    position: absolute;
    content: '';
    width: 600px;
    height: 82px;
    transition: transform ease-in-out 0.5s, background-color ease-in-out 0.5s, box-shadow ease-in-out 0.5s, color ease-in-out 0.5s;
    background-repeat: no-repeat;
    left: 2%;
    z-index: -1;
  }

.banner-content button:before {
    display: none;
    top: -90%;
    background-image: 
      radial-gradient(circle, var(--primary-yellow) 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, var(--primary-pink) 20%, transparent 30%),
      radial-gradient(circle, var(--primary-orange) 20%, transparent 20%),
      radial-gradient(circle, var(--primary-pink) 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, var(--primary-orange) 15%, transparent 20%),
      radial-gradient(circle, var(--primary-pink) 20%, transparent 20%),
      radial-gradient(circle, var(--primary-yellow) 20%, transparent 20%),
      radial-gradient(circle, var(--primary-orange) 20%, transparent 20%),
      radial-gradient(circle, var(--primary-pink) 20%, transparent 20%);
    background-size: 8% 8%, 15% 15%, 12% 12%, 15% 15%, 14% 14%, 8% 8%, 12% 12%, 8% 8%, 14% 14%;
}

.banner-content button:after {
    display: none;
    top: 90%; 
    background-image: 
      radial-gradient(circle, var(--primary-orange) 20%, transparent 20%),
      radial-gradient(circle, var(--primary-pink) 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, var(--primary-orange) 15%, transparent 20%),
      radial-gradient(circle, var(--primary-yellow) 20%, transparent 20%),
      radial-gradient(circle, var(--primary-pink) 20%, transparent 20%),
      radial-gradient(circle, var(--primary-orange) 20%, transparent 20%),
      radial-gradient(circle, var(--primary-yellow) 20%, transparent 20%);
    background-size: 12% 12%, 15% 15%, 14% 14%, 15% 15%, 12% 12%, 8% 8%, 15% 15%;
}
  
.banner-content button:active {
    transform: scale(0.9);
    background-color: var(--primary-pink);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    color: var(--neutral-0);
}
  
.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
  
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
  
@keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
  
@keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* SERVICES SECTION */
.services-container {
    margin: 8em auto 0;
    max-width: 1400px;
    height: 724px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-container h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.services-container p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 2em auto 0;
}

.services-content {
    margin-top: 4em;
    text-align: left;
}

.service-tab {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--neutral-500);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1em 2.5em;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.service-tab:not(.active-service-tab):hover {
    border-radius: 20px 20px 0 0;
    box-shadow: 2px 2px 10px rgba(117, 117, 117, 0.1) inset, -5px -8px 8px rgb(8, 8, 8) inset;
}

.service-tab-icon {
    margin-right: 0.5em; 
    vertical-align: middle; 
}

.active-service-tab {
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    border-radius: 20px 20px 0 0;
}

.service-tab.active-service-tab .service-tab-icon {
    filter: brightness(0) saturate(100%) invert(99%) sepia(6%) saturate(1273%) hue-rotate(231deg) brightness(114%) contrast(80%);
}

.service-container {
    display: none;
    width: 100%;
    height: 440px;
    background-color: var(--neutral-840);
}

.service-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 2%; 
}

.service-content-graphic {
    width: 45%;
    height: 86%;
    display: flex;              
    justify-content: center;    
    align-items: center;        
}

.service-content-text {
    width: 45%;
    padding-top: 4rem;
    text-align: left;

}

.service-content-text ul {
    margin-top: 2em;
    list-style-type: disc;
    padding-left: 20px;
    z-index: 1;
}

.service-content-text li {
    font-size: 1.1rem; 
    line-height: 1.6;
    font-weight: 400;
}

.service-content-text strong {
    font-weight: 500;
}

.service-content-button-container {
    filter: url('#goo');    
    margin-top: 1.5em;
    height: 6em;
    display: flex;
    align-items: center;
} 

.service-content-button {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding: 0.5em 2em;
    background-color: var(--neutral-1000);
    color: var(--neutral-0);
    cursor: pointer;
    border: none;
    position: relative;
    display: inline-block;
}

.service-content-button:before,
.service-content-button:after {
    width: 5em;
    height: 2.9em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--neutral-1000);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.service-content-button:before {
    top: -25%;
    left: 20%;
}

.service-content-button:after {
    bottom: -25%;
    right: 20%;
}

.service-content-button:hover:before,
.service-content-button:hover:after {
    transform: none;
}

.service-container.active-content {
    display: block;
}

/* WHY CHOOSE US SECTION */
.whychooseus-container {
    margin: 4em auto 0;
    max-width: 1400px;
    text-align: center;
}

.whychooseus-container h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.whychooseus-container p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 2em auto 0;
}

.whychooseus-content {
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.whychooseus-content-left, .whychooseus-content-right {
    height: 400px;
    display: flex;
    align-items: center;
}

.whychooseus-content-left {
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    border-radius: 50em 0 0 50em;
    padding: 5em 15em 5em 8em;
}

.whychooseus-content-right {
    background: linear-gradient(-90deg, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    border-radius: 0 50em 50em 0;
    padding: 5em 8em 5em 15em;
    justify-content: right;
}

.whychooseus-content-left-text {
    margin-left: 6em;
    text-align: left;
}

.whychooseus-content-right-text {
    margin-right: 6em;
    text-align: left;
}

.whychooseus-content-left-text h3, .whychooseus-content-right-text h3 {
    font-size: 1.5rem; 
    font-weight: 500;
}

.whychooseus-content-left-text p, 
.whychooseus-content-right-text p {
    font-size: 1.1rem; 
    line-height: 1.6;
    font-weight: 400;
    margin-top: 1.5em;
}

/* PORTFOLIO SECTION */
.portfolio-container {
    margin: 4em auto 0;
    max-width: 1400px;
    text-align: center;
}

.portfolio-container h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.portfolio-container p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 2em auto 0;
}

.portfolio-content {
    margin-top: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-slide {
    height: 400px;
    width: 926px;
    background-color: var(--neutral-800);
    display: flex;
    align-items: center;
    text-align: left;
}

.portfolio-slide-image {
    width: 468px;
    height: 100%;
    object-fit: cover;
}

.portfolio-slide-text {
    margin: 0 2em 0 1.5em;
}

.portfolio-slide-text h3 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.portfolio-slide-text p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1.5em;
    line-height: 1.6;
}

@media (max-width: 1400px) {
    /* HEADER */
    header {
        height: 60px;
    }

    header object {
        transform: scale(0.8);
    }

    /* HERO SECTION */
    .banner-content {
        max-width: 80%;
    }

    .banner-content p {
        font-size: 1.25rem;
    }

    .banner-content button {
        margin: 3em auto 0 auto;
        font-size: 1.75rem;
    }

    .banner-content button:hover {
        color: var(--neutral-0);
        box-shadow: none;
        border-radius: none;
    }

    .banner-content button:before,
    .banner-content button:after {
        left: -8%;
    }

    /* SERVICES SECTION */
    .services-container {
        margin: 6em auto 0;
        max-width: 80%;
    }

    .services-container p {
        font-size: 1rem;
        margin: 1em auto 0;
    }

    .service-tab {
        font-size: 1rem;
        padding: 0.6em 1.8em; 
    }

    .service-tab-icon {
        margin-right: 0.2em; 
        transform: scale(0.8);
    }

    .service-container {
        display: none;
        height: fit-content;
    }

    .service-content, .services-content {
        width: 100%;
    }

    .service-content-graphic {
        width: 45%;
        height: 300px;
    }

    .service-content-graphic object {
        transform: scale(0.6);
    }

    .service-content-text {
        width: 40%;
        padding-top: 2em;
    }

    .service-content-text h2 {
        font-size: 1.5rem; 
    }

    .service-content-text li {
        font-size: 0.8rem; 
    }

    .service-content-button-container {
        margin: 1em 0;
    }

    .service-content-button {
        font-size: 1.5rem;
    }
}

@media (max-width: 1080px) {
     /* SERVICES SECTION */
    .services-content {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .services-tabs-container {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        height: fit-content;
        display: flex;
        flex-direction: row-reverse;
    }

    .service-tab {
        font-size: 0.7rem;
        padding: 1.2em 1em;
        border-radius: 0 20px 20px 0;
    }

    .service-tab-icon {
        transform: scale(0.6);
        margin-right: 0;
        rotate: 90deg;
    }

    .service-container {
        width: 65%;
        height: 100%;
    }

    .service-content {
        flex-direction: column;  
    }

    .service-content-graphic {
        width: 80%;  
        height: 240px;             
    }

    .service-content-graphic object {
        transform: scale(0.6);               
    }

    .service-content-text {
        width: 80%;             
        padding-top: 2rem;  
    }

    /* WHY CHOOSE US SECTION */
    .whychooseus-container {
        max-width: 80%;
    }

    .whychooseus-content {
        width: 100%;
    }

    .whychooseus-content-left, .whychooseus-content-right {
        height: 300px;
        width: 100%;
    }

    .whychooseus-content-right object, .whychooseus-content-left object {
        transform: scale(0.6);    
    }

    .whychooseus-content-left {
        padding: 2em;
    }

    .whychooseus-content-right {
        padding: 2em;
    }

    .whychooseus-content-left-text {
        margin-left: 1em;
    }

    .whychooseus-content-right-text {
        margin-right: 1em;
    }

    .whychooseus-content-left-text h3, .whychooseus-content-right-text h3 {
        font-size: 1rem; 
    }

    .whychooseus-content-left-text p, 
    .whychooseus-content-right-text p {
        font-size: 0.8rem; 
        margin-top: 1em;
    }
}

@media (max-width: 640px) {
    /* HEADER */
    header {
        height: 40px;
    }

    header object {
        transform: scale(0.6);
    }

    /* HERO SECTION */
    .banner-content {
        height: 600px;
    }

    .banner-content h1 {
        font-size: 4rem;
    }
    
    .banner-content p {
        font-size: 1rem;
    }
    
    .banner-content button {
        margin: 2em auto 0 auto;
        font-size: 1rem;
    }

    .banner-content button:before,
    .banner-content button:after {
        left: -10%;
     }

     /* SERVICES SECTION */
    .services-container {
        max-width: 90%;
    }

    .service-container {
        width: 80%;
    }

    .service-content-graphic {
        width: 240px;        
        height: 160px;                 
    }

    .service-content-graphic object {
        transform: scale(0.4);               
    }

    /* WHY CHOOSE US SECTION */
    .whychooseus-container {
        max-width: 90%;
    }

    .whychooseus-container p {
        font-size: 1rem;
        margin: 1em auto 0;
    }

    .whychooseus-content {
        gap: 2em;
    }

    .whychooseus-content-left, .whychooseus-content-right {
        height: 250px;
    }

    .whychooseus-content-right object, .whychooseus-content-left object {
        height: 150px;   
    }

    .whychooseus-content-left {
        padding: 1em;
    }

    .whychooseus-content-right {
        padding: 1em;
    }

    .whychooseus-content-left-text {
        margin-left: 0.2em;
        width: 60%;
    }

    .whychooseus-content-right-text {
        margin-right: 0.2em;
        width: 60%;
    }

    .whychooseus-content-left-text p, 
    .whychooseus-content-right-text p {
        font-size: 0.6rem; 
        margin-top: 0.8em;
    }
}

@media (min-width: 330px) and (max-width: 376px) {
    /* HERO SECTION */
    .banner-content {
        height: 400px;
    }

    .banner-content h1 {
        font-size: 3rem;
    }
    
    .banner-content p {
        font-size: 0.8rem;
    }

    .banner-content button {
        font-size: 0.8rem;
    }

    /* SERVICES SECTION */
    .services-container h2 {
        font-size: 1.6rem;
    }
    
    .services-container p {
        font-size: 0.8rem;
    }

    .services-content {
        margin-top: 2em;
    }

    .service-tab {
        font-size: 0.6rem;
        padding: 0.8em 0.6em;
        border-radius: 0 10px 10px 0;
    }

    .service-tab-icon {
        transform: scale(0.4);
    }

    .service-container {
        width: 80%;
    }

    .service-content {
        flex-direction: column;  
    }

    .service-content-graphic {
        width: 80%;  
        height: 160px;             
    }

    .service-content-text h2 {
        font-size: 1rem; 
    }

    .service-content-text li {
        font-size: 0.8rem; 
    }

    .service-content-button {
        font-size: 1.4rem;
    }

    /* WHY CHOOSE US SECTION */
    .whychooseus-container h2 {
        font-size: 1.6rem;
    }

    .whychooseus-container p {
        font-size: 0.8rem;
    }

    .whychooseus-content {
        margin-top: 2em;
    }

    .whychooseus-content-left, .whychooseus-content-right {
        height: 200px;
    }

    .whychooseus-content-right object, .whychooseus-content-left object {
        height: 100px;   
    }

    .whychooseus-content-left {
        padding: 0.8em;
    }

    .whychooseus-content-right {
        padding: 0.8em;
    }

    .whychooseus-content-left-text {
        margin-left: 0.1em;
    }

    .whychooseus-content-right-text {
        margin-right: 0.1em;
    }

    .whychooseus-content-left-text p, 
    .whychooseus-content-right-text p {
        font-size: 0.5rem; 
        margin-top: 0.6em;
    }
}