/* GENERAL STYLING */
:root {
    --neutral-0: #ffffff;
    --neutral-100: #e6e6e6;
    --neutral-200: #cccccc;
    --neutral-300: #b3b3b3;
    --neutral-400: #999999;
    --neutral-500: #808080; 
    --neutral-600: #666666;
    --neutral-700: #4d4d4d;
    --neutral-800: #333333;
    --neutral-840: #292929;
    --neutral-900: #1a1a1a;
    --neutral-1000: #000000;

    --primary-yellow: #ffe815; 
    --primary-orange: #e85a09; 
    --primary-pink: #e22d75; 

    --background: #0f0f0f;

    --font-primary:'Bespoke Stencil', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-secondary);
    background-color: var(--background);
    color: var(--neutral-0);
}

/* CSS RESET */
*,
::before,
::after {
	box-sizing: border-box;
}

* {
    margin: 0;
  }

h1, h2, h3, h4, h5,h6 {
    text-wrap: balance;
}

p, li, figcaption {
    text-wrap: pretty;
    max-width: 600px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
/* COMPONENT STYLING */
header {
    width: 100%;
    height: 80px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: sticky; 
    top: 0;           
    z-index: 10;      
}

main {
    width: 100%;
    overflow: hidden;
}

.banner-bg-graphic {
    position: absolute;
    width: 100%; 
}

.banner-content {
    padding-top: 186px;
    padding-bottom: 312px;
    position: relative;
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.banner-content h1 {
    font-family: var(--font-primary);
    font-size: 96px;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.banner-content p {
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    margin: auto;
    padding-top: 56px;
}

.banner-content button{
    font-family: var(--font-primary);
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.02em;
    width: 600px;
    height: 82px;
    background-color: var(--neutral-1000);
    color: var(--neutral-0);
    border: 1px solid var(--neutral-1000);
    cursor: pointer;
}

.banner-content button:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #FFEB38, rgba(255, 120, 1, 0)) 1;
    cursor: pointer;
}